.marquee {
  height: 85px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee-holder {
  display: flex;
  flex-flow: row nowrap;
  width: 200%;
  height: 80px;
  position: absolute;
  overflow: hidden;
  animation: marquee 25s linear infinite;
}

.marquee-card {
  width: 60%;
  margin: 10px 15px;
  float: left;
  display: flex;
  justify-content: space-evenly;
}

@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.results-item > img {
  min-height: 75px;
  width: 150px;
}

.comp-btn {
  position: absolute;
  left: 81%;
  top: 39%;
}
